/*police*/

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

* {
    font-family: "Raleway", "Sans serif";
    list-style: none;
}    
body {
    max-width: 1800px;
    margin: 0 auto;
}


.flex {
    display: flex;
}

/*header*/

h1 {
    font-size: 40px;
}

.logo-reservia {
    margin-left: 15px;
}

.nav-link {
    list-style-type: none;
}

.nav-link a {
    color: black;
    padding: 25px;
}

a {
    text-decoration: none;
}

.nav-container {
    display: flex;  
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
}

ul {
    display: flex;
    padding: 25px;  
}

.nav-sinscrire {
    display: flex;
}

.logosearch {
    display: inline-flex;
    margin-top: 15px;
    align-items: center;
}
  
.btn-recherche {
    background-color: #0065fc;
    color: white;
    border: none;
    padding: 15px 15px;
    border-radius: 0px 10px 10px 0px;
    font-weight: bold;
    font-size: 18px;
}
  
.iconemap {
    font-size: 25px;
    background-color: #f2f2f2;
    padding: 10px 10px;
    width: 30px;
    text-align: center;
    border-radius: 15px 0 0 15px;
}

.barre-recherche {
     display: flex;
}

input {
    height: 50px;
    padding-right: 60px;
}


.description-site h1 {
    font-size: 20px;
}

/*filtres*/

.container-filtres {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    flex-wrap: wrap;
}

.content-filtres {
    display: flex;
    flex-wrap: wrap;
}

.boutonfiltre {
    display: flex;
    position: relative;
    margin-left: 25px;
    border: solid 2px rgb(206, 206, 206);
    border-radius: 25px;
    height: 47px;
    align-items: center;
    padding: 0 15px 0 0;
}

.circle-icon-filter {
    width: 50px;
    height: 50px;
    background-color: #b7d4ff;
    color: #0065fc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;   
}

/*infobulle*/

.container-info  {
    display: flex;
    justify-content: space-between;
    width: 440px;
    border: rgb(206, 206, 206);
    border-radius: 2px;
}

/*Main*/

h2 {
    font-size: 20px;
}

.photo-hotel {
    display: flex;
    flex-wrap: wrap;
    max-width: 1300px;
    background: rgb(206, 206, 206);
    border-radius: 18px;
}

.photo-hotel .item {
    display: flex;
    flex-wrap: wrap;
}

