/*police*/

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

* {
    font-family: "Raleway", "Sans serif";
    list-style: none;
}    
body {
    margin: 0 auto;
}

.container-site {
    max-width: 1400px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

/*header*/

h1 {
    font-size: 40px;
}

.logo-reservia {
    margin-left: 15px;
    font-size: 25px;
}

.nav-link {
    list-style-type: none;
    padding: 15px;
    font-weight: 550;
}

.nav-link a:hover {
    border-top: 3px solid #0065FC;
    padding-top: 53px;
    color: #0065FC;
}

.nav-link a {
    color: black;
    padding: 25px;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: inherit;
}

.nav-container {
    display: flex;  
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
}

ul {
    display: flex;
    padding: 25px;  
}

.nav-sinscrire {
    display: flex;
    color: #0065FC;
    font-size: 18px;
}

.nav-sinscrire a {
    font-size: 18px;
}

.filtres, .title {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.logosearch {
    display: inline-flex;
    margin-top: 15px;
    align-items: center;
}
  
.btn-recherche {
    background-color: #0065FC;
    color: white;
    border: none;
    padding: 15px 15px;
    border-radius: 0px 10px 10px 0px;
    font-weight: bold;
    font-size: 18px;
    height: 50px;
}
  
.iconemap {
    font-size: 20px;
    background-color: #f2f2f2;
    padding: 10px 10px;
    width: 30px;
    text-align: center;
    border-radius: 15px 0 0 15px;
}

.barre-recherche {
     display: flex;
}

.rechercher_loupe {
    display: none;
    padding: 15px;
    font-size: 18px;
}

input {
    height: 50px;
    border-bottom: solid #f2f2f2;
    border-top: solid #f2f2f2;
    border-left: none;
    border-right: none;
    width: 250px;
    padding-left: 15px;
    font-weight: bold;
    font-size: 18px;
}

.description-site h1 {
    font-size: 25px;
}

.description-site p {
    font-weight: 550;
    font-size: 20px;
}

/*filtres*/

.boutonfiltre p {
    font-weight: bold;
    font-size: 15px;
}

.filtres {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}

.filtres,
.filtres .content {
    display: flex;
    flex-flow: row wrap;
    font-size: 20px;
}

.filtres .title {
    margin-bottom: 20px;
    padding-right: 20px;
}

.filtres .boutonfiltre {
    display: flex;
    border-radius: 200px;
    border: 2px #f2f2f2b2 solid;
    height: 50px;
    position: relative;
    padding-left: 55px;
    padding-right: 14px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.filtres .boutonfiltre:hover {
    background-color: #0065FC;
    color: #fff;
    transform: scale(1.05);
}


.filtres .boutonfiltre i {
    line-height: 50px;
    color: #0065FC;
    position: absolute;
    width: 50px;
    text-align: center;
    background: #DEEBFF;
    left: -2px;
    border-radius: 100%;
}


/*infobulle*/

.information {
    display: flex;
    align-items: center;
}

.cercle-info{
    height: 30px;
    width: 30px;
    line-height: 30px;
    border: 2px solid #f2f2f2;
    border-radius: 50%;
    text-align: center;
    color: #0065FC;
}


.information p {
margin-left: 14px;
}

/*MAIN*/

/*hebergements*/

.hebergements {
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 30px;
    font-size: 13px;
    width: 60%;
}

h2 {
    font-size: 20px;
}

.hotel-container {
    height: 220px;
    width: 250px;
    box-sizing: border-box;
    border: 5px solid #fff;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #55555538;
    margin: 12px;
}

.hotel-container:hover {
    transform: scale(1.05);
}

.hotel-container img {
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: 120px;
    object-fit: cover;
}

.hebergements-container {
    display: flex;
    flex-wrap: wrap;
}

.greyStar {
    color: grey;
}

.blueStar {
    color: #0065FC;
}

.hotel-etoiles {
    font-size: 11px;
    letter-spacing: -1px;
}

.hotel-description {
    padding-left: 12px;
}

.texte-populaire, h3 {
    margin-top: 2px;
}

main {
    display: flex;
    justify-content: space-between;
}

/*populaires*/

.populaires {
    background-color: #f2f2f2;
    border-radius: 20px;
    padding: 30px;
    font-size: 13px;
    width: 30%;
}

.populaires-hotel-container {
    height: 160px;
    box-sizing: border-box;
    border: 5px solid #fff;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #55555538;
    margin: 12px;
}

.populaires-hotel-container:hover {
    transform: scale(1.05);
}

.populaires-hotel-container img {
    border-radius: 15px 0 0 15px;
    width: 140px;
    object-fit: cover;
}

.populaires-hotel-container,img .hotel-populaire-nom {
    display: flex;
}

.texte-populaire {
    padding-left: 10%;
}

.hotel-populaire-etoiles {
    padding-left: 10%;
    font-size: 12px;
    letter-spacing: -1px;
    padding-top: 42px;
}

.populaires-container {
    display: flex;
    flex-direction: column;
}


.hebergements .populaires {
    display: flex;
}

.populaires-titre, .chartline {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chartline {
    font-size: 20px;
}

/*Activites*/

.activites h2 {
    margin-top: 45px;
    margin-bottom: 30px;
}

.activites-container {
    display: flex;
    justify-content: space-between;
}

.activites-block article {
    width: 300px;
    height: 460px;
    border: 0 solid #fff;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #55555538;
}

.activites-block:hover {
    transform: scale(1.05);
}

.activites-block img {
    border-radius: 15px 15px 0 0;
    box-sizing: content-box;
    width: 100%;
    height: 410px;
    object-fit: cover;
}

.activites-hotel-container2 {
    width: 300px;
    height: 240px;
    border: 0 solid #fff;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #55555538;
}

.activites-hotel-container2:hover {
    transform: scale(1.05);
}

.activites-hotel-container2 img {
    height: 190px;
    object-fit: cover;
}

.activites-hotel-container3 {
    width: 300px;
    height: 180px;
    border: 0 solid #fff;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #55555538;
    margin-top: 40px;
}

.activites-hotel-container3:hover {
    transform: scale(1.05);
}

.activites-hotel-container5 img {
    height: 150px;
    object-fit: cover;
}

.activites-hotel-container5 {
    width: 300px;
    height: 200px;
    border: 0 solid #fff;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #55555538;
}

.activites-hotel-container5:hover {
    transform: scale(1.05);
}

.activites-hotel-container6 {
    width: 300px;
    height: 200px;
    border: 0 solid #fff;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #55555538;
    margin-top: 60px;
}

.activites-hotel-container6:hover {
    transform: scale(1.05);
}


.activites-hotel-container6 img {
    height: 150px;
    object-fit: cover;
}

.activites-hotel-container3 img {
    height: 130px;
    object-fit: cover;
}

.activites2block img {
    border-radius: 15px 15px 0 0;
    box-sizing: content-box;
    width: 100%;
}

.activites-description {
    padding: 10px;
}

/*Footer*/

.footer-container {
    background-color: #F2F2F2;
    padding: 48px 20px 51px 50px;
    display: flex;
    justify-content: space-around;
    margin-top: 65px;
}

.footer1, .footer2, .footer3 {
    display: flex;
    flex-direction: column;
}

.titre-propos, .titre-hebergements, .titre-assistance {
    padding-bottom: 10px;
}

.footer1 a, .footer2 a, .footer3 a {
    padding: 10px 10px 10px 0;
}

/*Media queries*/

@media screen and (max-width: 640px) {
    .cercle-info{
        height: 30px;
        width: 30px;
        line-height: 30px;
        border: 2px solid #f2f2f2;
        border-radius: 50%;
        text-align: center;
    }
    .information p{
        width: 300px;
    }
  }

@media all and (max-width: 770px) {

    .logo-reservia {
        margin-left: 20px;
    }
    .nav-sinscrire a {
        position: absolute;
        top: 15px;
        right: 15px;
    }

    nav ul {
        display: flex;
        justify-content: space-around;
        width: 100%;
        padding: 0;
    }

    nav {
        width: 100%;
    }

    .nav-link {
        width: 50%;
        text-align: center;
        border-bottom: 3px #f2f2f2 solid;
        padding-bottom: 20px;
    }

    .nav-link:hover {
        border-bottom: 3px #0065FC solid;
    }

    .nav-link a:hover {
        border-top: inherit;
    }

    .filtres {
        margin-left: 20px;
    }

    .content-filtres {
        display: flex;
    }

    .description-site {
        margin-left: 20px;
    }

    .btn-recherche {
        display: none;
        display: block;
    }

    .btn-recherche {
        display: none;
    }

    .rechercher_loupe {
        display: block;
        width: 50px;
        background-color: #0065FC;
        border: none;
        border-radius: 15px;
    }

    .rechercher_loupe .fas {
        color: white;
    }

    .barre-recherche {
        display: flex;
        justify-content: center;
    }

    .information {
        margin: 0 0 20px 20px;
    }

    /*MAIN*/

    .populaires {
        flex-direction: column-reverse;
    }

    main {
        flex-direction: column-reverse;
    }

    .populaires, .hebergements {
        width: 100%;
        padding: 0;
    }

    .populaires {
        border-radius: inherit;
    }

    .populaires-titre {
        margin: 18px;
    }

    .populaires-titre h2 {
        font-size: 25px;
        margin-top: 50px;
    }

    .populaires-hotel-container {
        padding: inherit;
        margin: 0 20px 20px 20px;
    }

    .populaires-container {
        margin-bottom: 40px;
    }

    .hebergements-container {
        flex-direction: column;
    }

    .hebergements h2 {
        margin: 20px;
        font-size: 25px;
    }

    .hotel-container {
        width: inherit;
        margin: 0 20px 20px 20px;
    }

    .hebergements {
        background-color: #fff;
    }

    .afficherplus {
        font-size: 15px;
        font-weight: 550;
        margin-left: 20px;
    }

    .activites h2 {
        margin: 45px 0 30px 20px;
        font-size: 25px;
    }

    .activites-container {
        flex-direction: column;
        margin: 0 20px 20px 20px;
    }

    .activites-container img {
        border-radius: 15px 15px 0 0;
        width: 100%;
        height: 120px;
        object-fit: cover;
    }

    .activites-block article {
        width: inherit;
        height: 190px;
        margin-bottom: 45px;
    }

    .activites2block article {
        width: inherit;
        height: 190px;
        margin-bottom: 45px;
    }

    .footer-container {
        flex-direction: column;
    }

    .footer1, .footer2, .footer3 {
        padding-top: 50px;
    }

    .footer1 h3, .footer2 h3, .footer3 h3 {
        font-size: 26px;
    }

}